<section class="lista" aria-label="Szerszámok listája">
  <h2>Szerszámok listája</h2>
  
  <div *ngIf="szerszamok$ | async as szerszamok; else loading">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Név</th>
          <th>Típus</th>
          <th>Ár (Ft)</th>
          <th>Készleten</th>
          <th>Műveletek</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sz of szerszamok; trackBy: trackByFn">
          <td>{{ sz.id }}</td>
          <td>{{ sz.nev }}</td>
          <td>{{ sz.tipus }}</td>
          <td>{{ sz.ar }}</td>
          <td class="keszlet-erték">{{ sz.keszleten }}</td>
          <td>
            <div class="qty-buttons">
              <button type="button" (click)="decreaseQuantity(sz)" [disabled]="sz.keszleten === 0">-</button>
              <button type="button" (click)="increaseQuantity(sz)">+</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #loading>
    <p>Betöltés...</p>
  </ng-template>
</section>